@media(max-width: 768px) {
    .container {
        width: 90%;
    }
    h2 {
        width: 100%;
    }
    .nav {
        display: none;
    }
    .burger-menu {
        display: block;
    }
    #burger-checkbox {
        opacity: 0;
    }
    .burger-btn {
        display: flex;
        position: fixed;
        top: 20px;
        left: 20px;
        width: 26px;
        height: 26px;
        align-items: center;
        cursor: pointer;
        z-index: 2;
    }
    .burger-btn>span,
    .burger-btn>span:before,
    .burger-btn>span:after {
        height: 2px;
        width: 100%;
        background-color: #3FBB7D;
        position: absolute;
        transition: 0.3s;
    }
    .burger-btn>span:before {
        content: '';
        top: -8px;
    }
    .burger-btn>span:after {
        content: '';
        top: 8px;
    }
    .burger-nav {
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 0;
        left: -100%;
        visibility: hidden;
        width: 100%;
        height: 100%;
        background-color: rgba(128, 128, 128, 0.568);
        padding: 80px 0;
        list-style: none;
        text-align: center;
        transition: 0.3s;
    }
    .burger-nav a {
        display: inline-block;
        padding: 12px 24px;
        color: black;
        text-decoration: none;
        font-size: 20px;
        font-weight: 600;
    }
    .burger-nav a:hover {
        background-color: #3FBB7D;
    }
    #burger-checkbox:checked~.burger-nav {
        left: 0;
        visibility: visible;
    }
    #burger-checkbox:checked~.burger-btn>span {
        transform: rotate(45deg);
    }
    #burger-checkbox:checked~.burger-btn>span:before {
        top: 0;
        transform: rotate(90deg);
    }
    #burger-checkbox:checked~.burger-btn>span:after {
        top: 0;
        transform: rotate(90deg);
    }
    .header__content__top,
    .skills__content {
        flex-direction: column;
    }
    .header__content__bottom {
        flex-direction: column-reverse;
        padding: 50px 0;
    }
    .about__text,
    .about__text p {
        width: 90%;
    }
    .about__img {
        width: 100%;
    }
    .about__content {
        flex-direction: column;
        align-items: baseline;
    }
    .about__content-text {
        width: 100%;
    }
    .about__content img,
    .skills__content img {
        display: none;
    }
    .skills__content li {
        width: 128px;
    }
    .skills__content-about {
        width: 100%;
    }
    .skills__list-content {
        width: 30%;
    }
    .experience__content {
        flex-direction: column;
    }
    .exp__list2,
    .experience__content-about {
        width: 100%;
        line-height: 30px;
    }
    .experience__content li::before {
        top: 10px;
    }
    .contact__content {
        flex-direction: column;
    }
    .contanct__mail {
        margin: 10px 0 0 0;
    }
}