@font-face {
    font-family: MPLUSRounded1c-Black;
    /* Имя шрифта */
    src: url(fonts/MPLUSRounded1c-Black.ttf);
    /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: YanoneKaffeesatz;
    /* Имя шрифта */
    src: url(fonts/YanoneKaffeesatz-VariableFont_wght.ttf);
    /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: Play;
    /* Имя шрифта */
    src: url(fonts/Play-Regular.ttf);
    /* Путь к файлу со шрифтом */
}

* {
    box-sizing: border-box;
}

body {
    font-family: Play;
    text-decoration: none;
    background-color: #DFDFE1;
    font-size: 18px;
}

.burger-menu {
    display: none;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.header,
.after__header {
    background-color: #263238;
}

.header__content__top {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    align-items: center;
}

.nav a {
    display: inline-block;
    padding: 8px 15px;
    color: rgb(170, 170, 170);
    font-size: 20px;
    text-decoration: none;
    margin: 5px;
    border: 3px solid rgba(255, 255, 255, 0);
}

.nav a:hover {
    border: 3px solid #fff;
    border-radius: 100px;
    transition: .7s;
}

.logo {
    display: flex;
    align-items: center;
    color: rgb(170, 170, 170);
    font-weight: bold;
    font-size: 20px;
}

.logo__name {
    color: #3FBB7D;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
    font-family: MPLUSRounded1c-Black;
}

.logo img {
    width: 60px;
    margin-right: 15px;
}

.header__content__bottom {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    color: #62727b;
}

h1 {
    font-size: 40px;
    font-weight: 600;
    line-height: 1.5;
}

h2 {
    font-size: 2em;
    width: 400px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.bold {
    font-weight: bold;
}

.header__content__bottom button {
    border: none;
    outline: none;
    background-color: #3FBB7D;
    font-size: 20px;
    border-radius: 50px;
    padding: 10px 15px;
    font-weight: bold;
    margin-top: 20px;
    border: 5px solid #3FBB7D;
    color: #3B3233;
}

.header__content__bottom button:hover {
    border: 5px solid #4f5b62;
    background-color: rgba(255, 255, 255, 0);
    color: #4f5b62;
}


/*.about__content{
    display: flex;
    align-items: center;
}*/

.about__text,
.about__img {
    width: 600px;
}

.about__text p {
    line-height: 40px;
    width: 500px;
    margin: 50px 0;
    font-size: 24px;
}

.about__text button {
    text-transform: uppercase;
    font-size: 16px;
    color: #000;
}

.about__img {
    background-image: url(img/android.svg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
}

.about__img p {
    padding: 5px 10px;
}

#experience,
#contacts {
    padding: 100px 0;
    background-color: #263238;
    color: #6c7d88;
}

.experience__content,
.skills__content,
.about__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.skills__content {
    flex-direction: row-reverse;
}

.experience__content li {
    margin-bottom: 10px;
    text-align: justify;
    position: relative;
    padding-left: 20px;
}

.experience__content li::before {
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: #3FBB7D;
    position: absolute;
    top: 3px;
    left: 0;
}

.exp__list2,
.experience__content-about {
    width: 47%;
}

.about__content img {
    width: 300px;
}

.skills__content img {
    width: 400px;
}

.about__content p {
    margin-bottom: 15px;
    line-height: 20px;
    text-align: justify;
}

.skills__content-about,
.about__content-text {
    width: 800px;
}

#skills,
#about {
    background-color: #37474f;
    color: rgb(170, 170, 170);
    padding: 100px 0;
}

.skills__content-about ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 15px;
}

.skills__content-about li {
    margin: 0 20px 20px 0;
    font-size: 18px;
    width: 180px;
}

.skills__list-name {
    font-weight: bold;
    font-size: 22px;
    color: #263238;
}

.skills__list-content {
    margin-top: 5px;
    width: 240px;
    line-height: 20px;
    flex-direction: column;
}

.skills__list-content li {
    padding: 0 0 0 12px;
    position: relative;
}

.skills__list-content li::before {
    content: "-";
    position: absolute;
    top: 0;
    left: 0;
}

.skills__dop {
    font-size: 30px;
    color: #263238;
    font-weight: bold;
}

.skills__dop li {
    color: #aaa;
}

.skills__dop-text {
    color: #aaa;
    margin-bottom: 10px;
    font-size: 20px;
}

.contact__content {
    display: flex;
}

.contact__content a {
    display: block;
    text-decoration: none;
    color: #fff;
    padding: 12px 24px;
    border-radius: 50px;
    background-color: #37474f;
    transition: .25s;
}

.contact__content a:hover {
    background-color: #1f292e;
}

.contanct__mail {
    margin-left: 15px;
}

.footer {
    background-color: #37474f;
    color: #303f46;
    text-align: right;
    padding: 25px 0;
    font-size: 16px;
}

.footer a {
    color: inherit;
    text-decoration: none;
}

.footer .copyright {
    color: #1f292e;
}

.footer-content {
    display: flex;
    justify-content: space-between;
}